body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  list-style-type: none;
}

h1 {
  color: white;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Landing {
  width: 100%;
}

#carousel-container {
  position: relative;
}

.slide-arrow-left {
  position: relative;
  top: 100%;
  left: 40%;
  color: white;
  max-width: 20px;
}

.slide-arrow-right {
  position: relative;
  top: 93%;
  right: -60%;
  color: white;
  max-width: 20px;
}

.carousel {
  height: 300px;
  width: 100%;
  border: 2px solid black;
}

#carousel-size {
  height: 50vh;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
  align-self: center;
}

.About {
  width: 100%;
  margin: 3rem auto;
  top: 100%;
}

#aboutTitle {
  background-color: #343a40;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: gray;
}

#postForm {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#post {
  border: 1px solid gray;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background: gray;
}

.cityview {
  float: left;
}

.cities-column {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cityView {
  width: 50vw;
}

#cityView img {
  width: 100%;
}

#cities {
  width: 50vw;
}

#cities li {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem;
  width: 80%;
}

#cities img {
  height: 100px;
  width: 100%;
}

#posts {
  border: solid black;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

#posts p {
  padding: 5px;
}
