body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

h1 {
  color: white;
}

.registerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Landing {
  width: 100%;
}

#carousel-container {
  position: relative;
}

.slide-arrow-left {
  position: relative;
  top: 100%;
  left: 40%;
  color: white;
  max-width: 20px
}

.slide-arrow-right {
  position: relative;
  top: 93%;
  right: -60%;
  color: white;
  max-width: 20px;
}

.carousel {
  height: 300px;
  width: 100%;
  border: 2px solid black;
}

#carousel-size {
  height: 50vh;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
  align-self: center;
}

.About {
  width: 100%;
  margin: 3rem auto;
  top: 100%;
}

#aboutTitle {
  background-color: #343a40;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: gray;
}

#cities li {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 2rem 1rem;
  width: 80%;
}

.cities-column {
  background-color: gray;
  width: 40%;
  height: 90%;
}

#cities img {
  height: 100px;
  width: 120px;
}
