body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

h1 {
  color: white;
}

.Landing {
  width: 100%;
}

#carousel-container {
  position: relative;
}

.slide-arrow-left {
  position: relative;
  top: 100%;
  left: 49%;
  color: white;
}

.slide-arrow-right {
  position: relative;
  top: 94.6%;
  right: -54%;
  color: white;
}

.carousel {
  height: 300px;
  width: 100%;
  border: 2px solid black;
}

#carousel-size {
  height: 450px;
  width: 95%;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
  align-self: center;
}

.About {
  width: 85%;
  margin: 3rem auto;
  top: 100%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: gray;
}

#cities li {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 2rem 1rem;
  width: 80%;
}

.cities-column {
  background-color: gray;
  width: 40%;
  height: 90%;
}

#cities img {
  height: 100px;
  width: 120px;
}
